[submodule "ingsw-private"]
	path = ingsw-private
	url = https://github.com/Rhaegal222/ingsw-private
[submodule "consegna-mini-progetti-Rhaegal222"]
	path = consegna-mini-progetti-Rhaegal222
	url = https://github.com/Didattica-IngSw/consegna-mini-progetti-Rhaegal222
