/* #F5F5F5; /* Sfondo secondario */
/* #E0E0E0; /* Sfondo primario */
/* #D0D0D0; /* Sfondo di evidenziazione */
/* #F0F0F0; /* Pulsante */
/* #FFFFFF; /* Bordo */
/* #666666; /* Testo secondario */
/* #000000; /* Testo primario */

/* Colore di base del testo */
.label-class{
    -fx-font-size: 16px;
    -fx-text-fill: #000000; /* Testo primario */
}
/* Colore dell'anchorpane */
.global-color{
     -fx-background-color: #E0E0E0; /* Sfondo primario */
}
/* Colore di base del bottoni */
.button{
    -fx-font-size: 16px;
    -fx-background-border: 15;
    -fx-background-radius: 15;
    -fx-background-color: #F0F0F0; /* Pulsante */
}
.button .label {
    -fx-text-fill: #000000; /* Testo primario */
    -fx-alignment: center;
}
/* Colore di base dell'hover del bottone */
.button:hover{
    -fx-background-color: #D0D0D0; /* Sfondo di evidenziazione */
}
.button:hover .label{
    -fx-text-fill: #666666; /* Testo secondario */
}
/* Colore di base del Menu-Button */
.menu-button {
    -fx-background-color: #F0F0F0; /* Pulsante */
    -fx-border-color: transparent;
    -fx-background-radius: 15;
}
.menu-button:hover, .chart-plot-background {
    -fx-background-color: #D0D0D0; /* Sfondo di evidenziazione */
}
.menu-button .label{
    -fx-text-fill: #000000; /* Testo primario */
}
.menu-button:hover .label{
    -fx-text-fill: #666666; /* Testo secondario */
}
.chart{
    -fx-background-radius:15;
}
/* Barra superiore */
.hbox-info, .chart{
    -fx-background-color: #F5F5F5; /* Sfondo secondario */
}
/* Etichette dei bottoni */
.hbox-info-button .label-class{
    -fx-text-fill: #000000; /* Testo primario */
}
/* Icone dei bottoni */
.hbox-info-button .icon{
    -fx-text-fill: #000000; /* Testo primario */
}
/* Bottone al passaggio del mouse*/
.hbox-info-button:hover{
   -fx-background-color: #D0D0D0; /* Sfondo di evidenziazione */
   -fx-background-radius: 10;
}
/* Etichette dei bottoni al passaggio del mouse*/
.hbox-info-button:hover .label-class{
    -fx-text-fill: #666666; /* Testo secondario */
}
/* Icona dei bottoni al passaggio del mouse*/
.hbox-info-button:hover .icon{
    -fx-text-fill: #666666; /* Testo secondario */
}
/* Menu a comparsa */
.context-menu {
    -fx-background-color: #E0E0E0; /* Sfondo primario */
    -fx-border-color: #FFFFFF; /* Bordo */
    -fx-border-radius: 10;
    -fx-background-radius: 15;
    -fx-font-size: 14px;
}
/* Menu Item */
.menu-button .menu-item {
    -fx-background-color: transparent; /* Il colore é dato da context-menu */
    -fx-font-size: 14px;
}
.menu-button .menu-item:hover {
    -fx-background-color: #D0D0D0; /* Sfondo di evidenziazione */
    -fx-background-radius: 15;
}
.menu-button .menu-item .label{
    -fx-text-fill: #000000; /* Testo primario */
}
.menu-button .menu-item:hover .label{
    -fx-text-fill: #666666; /* Testo secondario */
}
/*Barra laterale  */
.sidebar {
    -fx-background-color: #F5F5F5; /* Sfondo secondario */
    -fx-background-radius: 10;
}
/*Etichette dei bottoni  */
.sidebar .label-class {
    -fx-text-fill: #000000; /* Testo primario   */
}
/*Icone dei bottoni  */
.sidebar .icon {
    -fx-text-fill: #000000; /* Testo primario */
}
/*Bottone al passaggio del mouse */
.sidebar-button:hover {
    -fx-background-color: #D0D0D0; /* Sfondo di evidenziazione */
    -fx-background-radius: 10;
}
/*Etichette dei bottoni al passaggio del mouse */
.sidebar-button:hover .label-class {
    -fx-text-fill: #666666; /* Testo secondario */
}
/*Icona dei bottoni al passaggio del mouse */
.sidebar-button:hover .icon {
    -fx-text-fill: #666666; /* Testo secondario */
}
/* Date Picker */
.hbox-date-picker .context-menu {
    -fx-pref-height: 200;
    -fx-max-height: 300;
}
.titled-pane .title{
    -fx-text-fill: #000000; /* Testo primario */
    -fx-background-color: #F0F0F0; /* Pulsante */
    -fx-border-color: #FFFFFF; /* Bordo */
    -fx-border-radius: 10;
    -fx-border-width: 2;
}
.titled-pane .content{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.news{
    -fx-background-color: #F5F5F5; /* Sfondo secondario */
    -fx-border-color: #FFFFFF; /* Bordo */
    -fx-border-radius: 10;
}
.news-title{
    -fx-text-fill: #000000; /* Testo primario */
    -fx-font-weight: bold;
}
.news-button{
    -fx-background-color: #FFFFFF; /* Sfondo primario */
    -fx-border-color: #666666; /* Bordo */
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}