* {
  primaryBackgroundColor: #191d21;
  secondaryBackgroundColor: #24282b;
  primarySelectionColor: #004ec4;
  secondarySelectionColor: #004ec4;
  tertiarySelectionColor: #004ec4;
  imagesColor: #dcdcdd;
  textColor: #dcdcdd;
  selectedTextColor: #dcdcdd;
  lineColor: #b3b3b3;
  separatorColor: #004ec4;
}
