* {
  primaryBackgroundColor: #f2f2f2;
  secondaryBackgroundColor: white;
  primarySelectionColor: #0181d7;
  secondarySelectionColor: #0181d7;
  tertiarySelectionColor: #0181d7;
  imagesColor: black;
  textColor: black;
  selectedTextColor: black;
  lineColor: #b3b3b3;
  separatorColor: #0181d7;
}

